.header {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: rgb(26,134,221);
    background: linear-gradient(90deg, rgba(26,134,221,1) 0%, rgba(28,54,170,1) 100%, rgba(2,0,36,1) 100%);
}

.header_navbar {
    display: flex;
    width: 100%;
    height: 30%;
    padding: var(--padding);
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    font-size: 30px;
    font-family: 'SBAggroB';
    color: var(--white-color);
}

.header_navbar_btns {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.go_to_login_btn ,.go_to_register_btn {
    width: 46%;
    height: 100%;
    text-align: center;
    font-family: 'Pretendard-Regular';
    border: 1px solid var(--white-color);
    background-color: transparent;
    border-radius: 3px;
    font-size: 15px;
    color: var(--white-color);

}

.header_container {
    display: flex;
    width: 100%;
    height: 75%;
    padding: var(--padding);
    justify-content: space-around;
    align-items: center;
}

.header_container_text {
    font-family: 'Pretendard-Regular';
    font-size: 45px;
    color: var(--white-color);
}

#choose_location {
    width: 31%;
    height: 30%;
    padding: 10px;
    border: 0;
    border-radius: 15px; 
}

#choose_location option{
    font-size: 15px;
}

.user_btn {
    width: 90px;
    font-family: 'Pretendard-Regular';
    background-color: transparent;
    color: whitesmoke;
    font-size: 20px;
    margin-left: 130px;
}

.user_popup {
    width: 120px;
    position: fixed;
    z-index: 1;
    float: right;
    margin-left: 115px;
    margin-top: 41px;
    font-family: 'Pretendard-Regular';
}

.user_popup ul {
    background-color: whitesmoke;
    border: 0;
    border-radius: 5px;
}

.user_popup ul li {
    width: 120px;
    list-style: none;
    padding: 10px;
    text-align: center;
}

.user_popup ul li:hover {
    background-color: rgb(199, 199, 199);
    cursor: pointer;
} 

.user_popup ul li:nth-child(2) {
    border-top: 1px solid var(--dark-grey-color);
    border-bottom: 1px solid var(--dark-grey-color);
}