.container_content {
    width: 60%;
    height: 100%;
}

.container_content_header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    margin-top: 40px;
}

.container_content_header_location, .container_content_header_like_list, .container_content_header_chat_list {
    font-family: 'Pretendard-Regular';
    font-size: 30px;
}

.container_content_item_list, .container_content_like_list, .container_content_chat_list {
    display: flex;
    flex-direction: column;
}

.container_content_item_list li, .container_content_like_list li, .container_content_chat_list li{
    padding: var(--padding);
    display: flex;
    list-style: none;
    height: 180px;
    border-bottom: 1px solid rgb(122, 122, 122);
}

.item_img {
    width: 276px;
    height: 100%;
}

.item_img img{
    width: 276px;
    height: 100%;
    cursor: pointer;
}

.item_info {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;
}

.item_info span {
    font-family: 'Pretendard-Regular';
    color: rgb(29, 28, 28);
    text-align: start;
    padding: 0.5% 15% 0.5% 20%;
    font-size: 20px;
}

.item_sub_func {
    display: flex;
    width: 25%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.item_sub_func i {
    margin-right: 5%;
    cursor: pointer;
}

#like, #unlike {
    color: rgb(204, 62, 62);
}

#chat {
    color: var(--dark-grey-color);
}


