.login {
    width: 560px;
    height: 600px;
    padding-left: 50px;
    padding-right: 50px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px gray;
    font-family: 'Pretendard-Regular';
}

.login_header {
    display: flex;
    width: 100%;
    height: 20%;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}

.login_header_title {
    font-size: 35px;
}

.login_content {
    margin-top: 6%;
    width: 100%;
    height: 60%;
}

.login_sub_text {
    font-size: 18px;
}

.login_content_id {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
    margin-top: 10%;
}

.login_content_password {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
    margin-top: 5%;
}

#username, #current-password {
    border: 1px solid lightgrey;
    border-radius: 2px;
    width: 100%;
    height: 15%;
    margin-top: 2%;
}

#username {
    margin-bottom: 20px;
}

#username, #current-password {
    padding: 10px;
}

.login_content_register {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 10%;
}

.login_content_register_btn {
    font-family: 'Pretendard-Regular';
    font-size: 17px;
}

.login_footer {
    width: 100%;
    height: 10%;
}

.login_btn {
    width: 100%;
    height: 15%;
    background-color: #1C5AC1;
    font-family: 'Pretendard-Regular';
    font-size: 17px;
    color: whitesmoke;
    margin-top: 50px;
}

.login_form {
    width: 100%;
    height: 300px;
    margin-top: 50px;
}


